<div style='width:30%;margin:auto;box-shadow:0px 0px 10px gray;padding:1%;text-align:center;'><img src='http://openweathermap.org/img/wn/50d@2x.png'><h1>Amritsar (IN)</h1><p>Temperature: 35&deg;C</p><em>Haze (haze)</em></div>