<div style='width:30%;margin:auto;box-shadow:0px 0px 10px gray;padding:1%;text-align:center;'><img src='http://openweathermap.org/img/wn/04d@2x.png'><h1>Iceland (IS)</h1><p>Temperature: 6.35&deg;C</p><em>Clouds (overcast clouds)</em></div>