<meta chaeset='utf-8'><div style='width:30%;margin:auto;box-shadow:0px 0px 10px gray;padding:1%;text-align:center;'><img src='http://openweathermap.org/img/wn/01d@2x.png'><h1>pathankot (IN)</h1><p>Temperature: 42.42&deg;C</p><em>Clear (clear sky)</em></div>