<div style='width:30%;margin:auto;box-shadow:0px 0px 10px gray;padding:1%;text-align:center;'><img src='http://openweathermap.org/img/wn/09d@2x.png'><h1>Tokyo (JP)</h1><p>Temperature: 24.75&deg;C</p><em>Rain (shower rain)</em></div>