<div style='text-align:center;height:400px;width:30%;margin:auto;box-shadow:0px 0px 10px red;padding:10px;'><img src='https://restcountries.eu/data/aus.svg' style='height:200px;width:100%;'><h1>Australia</h1><p><em>24117360</em></p><p><em>[]</em></p></div>