<div style='height:500px;width:30%;margin:auto;box-shadow:0px 0px 10px red;padding:10px;'><img src='https://restcountries.eu/data/ind.svg' style='height:200px;width:100%;'><h1>India</h1><p><em>1295210000</em></p></div>